<div class="final-offer-container">
  <h3>📊 Bilan énergie</h3>
  <div class="summary-grid">
    <div class="card summary-block">
      <h3>🔆 Panneaux installés</h3>
      <p>{{ panneaux }} panneau{{ panneaux > 1 ? 'x' : '' }}</p>
    </div>
    <div class="card summary-block">
      <h3>🔌 Consommation des appareils</h3>
      <p>
        <strong>{{ consommationTotale * 30 / 1000 | number:'1.0-2' }}</strong> kWh/mois
        <br>
        ({{ devices.length }} appareil{{ devices.length > 1 ? 's' : '' }} connecté{{ devices.length > 1 ? 's' : '' }})
      </p>
    </div>
    <div class="card summary-block">
      <h3>⚡ Production mensuelle estimée</h3>
      <p>
        Entre
        <strong>{{ 2.5 * 28 * panneaux | number: '1.0-2' }}</strong> et
        <strong>{{ 3.3 * 31 * panneaux | number: '1.0-2' }}</strong>
        kWh/mois
      </p>
    </div>

    <div class="card summary-block">
      <h3>💸 Bilan économiques mensuel :</h3>
      <p>
        ~<strong>{{ Math.max((2.9 * 30 * panneaux) - (consommationTotale * 30), 0) | number: '1.0-2' }}</strong>
        kWh/mois
      </p>
      <p>
        soit <strong>~{{ Math.max((2.9 * 30 * panneaux) - (consommationTotale * 30 / 1000) * 0.21, 0) | number: '1.0-2' }}€</strong> / mois
      </p>
    </div>
  </div>
</div>
