<h1>Combien m’apporterai des panneaux solaires</h1>
<div class="card flex justify-center">
  <input type="text" pInputText [(ngModel)]="value" class="w-full mb-4"/>
  <p-slider [(ngModel)]="value" [step]="1" [min]="1" [max]="90" styleClass="w-90" />
</div>
<p>Production : entre {{2.5 * value | number : '1.0-2' }} et {{3.3 * value | number : '1.0-2' }}kWh par jours</p>
<p>Production : entre {{2.5 * 28 * value | number : '1.0-2' }} et {{3.3 * 31 * value | number : '1.0-2' }}kWh mois</p>
<p>Soit une economie théorique de ~{{2.9 * 30 * value | number : '1.0-2'}}€/mois</p>
